<div class="footer">
  <p style="font-size: 17px;"> Copyright &copy; <span id="year"></span> aleaicr</p>
  <div class="aboutlinks">
    <a href="https://www.linkedin.com/in/alexiscontrerasr/" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn" width="50" height="50"></a>
    <a href="https://www.github.com/aleaicr" target="_blank"><img src="/images/github.png" alt="GitHub" width="50" height="50"></a>
    <a href="https://www.twitter.com/aleaicr" target="_blank"><img src="/images/twitter.png" alt="Twitter" width="50" height="50"></a>
    <a href="https://www.instagram.com/alexiscontrerasr" target="_blank"><img src="/images/instagram.png" alt="Instagram" width="50" height="50"></a>
  </div>
</div>
